html {
  font-family: Helvetica;
  text-align: center;
}

.backpic {
  background-image: url(../images/the-flatiron-building.png);
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.menutext {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: gray;
}

.midsec {
  color: gray;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
}

.desinny {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}

.botsec {
  color: gray;
}

.smallfoot{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
